<!-- Page Content -->
<br>
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h3>Acompanhe a sua rotina</h3>
                <p>Diálise é o processo de separação de moléculas de acordo com seu tamanho utilizando
                membranas semipermeáveis que contêm poros. Na hemodiálise, a transferência de massa ocorre
                entre o sangue e o líquido de diálise através de uma membrana semipermeável artificial.</p>
            </div>
        </div>
        <body class="hm-gradient">
            <main>
                <!--MDB Tables-->
                <div class="mt-4">
                      <div class="card mb-4">
                        <div class="card-body">
                            <!-- Grid row -->
                            <div class="row">
                                <!-- Grid column -->
                                <div class="col-md-12">
                                    <h2 class="pt-3 pb-4 text-center font-bold font-up deep-purple-text">Ultimos dias</h2>
                                    
                                </div>
                                <!-- Grid column -->
                            </div>
                            <!-- Grid row -->
                            <!--Table-->
                            <table class="table table-striped">
                                <!--Table head-->
                                <thead>
                                    <tr>
                                        <th class="text-center">ID</th>
                                        <th class="text-center">Drenagem INI.</th>
                                        <th class="text-center">Drenagem FIN.</th>
                                        <th class="text-center">Líquido</th>
                                        <th class="text-center">Horário</th>
                                    </tr>
                                </thead>
                                <!--Table head-->
                                <!--Table body-->
                                <tbody>
                                    <tr *ngFor="let dado of dados">
                                        <th scope="row" class="text-center">{{dado.idDados}}</th>
                                        <td class="text-center">{{dado.Dreneagem_inicial}} ML</td>
                                        <td class="text-center">{{dado.Dreneagem_final}} ML</td>
                                        <td class="text-center">{{dado.Liquido}} ML</td>
                                        <td class="text-center">{{dado.Data_2}}</td>
                        
                                    </tr>
                                </tbody>
                                <!--Table body-->
                            </table>
                            <!--Table-->
                        </div>
                    </div>
                    
                </div>
                <!--MDB Tables-->
              
            </main>
          
        </body>
    </div>
</div>
<!-- /#page-content-wrapper -->