<div class="d-flex justify-content-end align-items-center ">
    <div class="align-self-center" style="width: 35%; " id="cartao">

        <div class="card bg-light align-self-center " style="height: 100%;">
            <div class="card-title margin">
                <h3 class="text-center"><b>Bem vindo ao Dialitico</b></h3>
            </div>
            <div class="card-body alinhamento">
                <div class="text-center">
                    <button class="btn btn-primary" routerLink="medico/login">Entrar como medico</button>
                    <br>
                    <b>OU</b>
                    <br>
                    <button class="btn btn-primary" routerLink="usuario/login">Entrar como usuario</button>
                </div>
            </div>
        </div>

    </div>
</div>