<div class="card bg-light" id="cartao">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Cadatre um novo usuario</h4>
        <p class="text-center"></p>
        <p class="divider-text text-center">
            <span class="bg-light">GO</span>
        </p>
        <form #formCadastroUsuario="ngForm" (ngSubmit)="onSubmit(formCadastroUsuario)">
            <div class="form-group input-group" style="width: 300px;">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                <input class="form-control" [(ngModel)]="usuario.Nome" name="Nome" placeholder="Nome completo"
                    type="text">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                </div>
                <input name="" class="form-control" [(ngModel)]="usuario.CPF" name="CPF" placeholder="CPF" type="text">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                </div>
            </div> <!-- form-group end.// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input class="form-control" placeholder="Senha" [(ngModel)]="usuario.Senha" name="Senha" type="password">
            </div> <!-- form-group// -->
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                <input class="form-control" placeholder="Confirmar senha" type="password">
            </div> <!-- form-group// -->
            <div class="form-group">
                <button type="submit" class="btn btn-danger btn-block"> Criar Conta </button>
            </div> <!-- form-group// -->
        </form>
    </article>
</div> <!-- card.// -->
